<a href="https://colab.research.google.com/github/KengoTobita/libarts/blob/master/BJ_text.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1.デッキを作ろう
飛田は最近テキサスホールデムポーカーにハマりました。<br>
Pythonでポーカーについての研究をしたいと考えているので、トランプのデータが必要です。<br>
そこで今回は皆さんの力を借りて、トランプを模したデータを作成していただきます。<br>
## 今回作成してほしいデータ
下記のセルにあるcsvファイルが完成品です。<br>
二次元データの作成が目標です。

In [0]:
import pandas as pd
df = pd.read_csv("deck.csv")
df.head()

  suits  number
0     S       1
1     S       2
2     S       3
3     S       4
4     S       5

## Q1.1トランプのスートをまとめたリストを作成しよう。
トランプのスートをまとめたリストを**suits**という変数に格納してください。<br>
トランプのスートはSpades,Hearts,Diamonds,Clubsの４つです。

## Q2.トランプで使用する数字のリストをfor文で作成しよう。
トランプで使用する数字をまとめたリストを**number**という変数に格納しましょう。<br>
トランプで使用する数字は、2〜10の数字、Ace,Jack,Qeen,Kingの絵札からなりますが、<br>
今回は面倒なので1〜13の数字のリストを作成します。<br>
少し面倒ですがfor文を使用して作成してみましょう。

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]

## Q1.3 リスト内包表記を使用して作成しよう。
少しPythonに慣れている方は、発展的な問題に挑戦してみましょう。<br>
Pythonにはリスト内包表記という便利な機能があります。<br>
これを使用することで、短くわかりやすいコードで簡単にリスト型データを作成することができます。

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]

## Q1.4 簡単に2次元データを作成しよう。
リスト型データの中にリスト型データを入れ、二次元データを作成することが可能です。

[['Spades', 1],
 ['Spades', 2],
 ['Spades', 3],
 ['Spades', 4],
 ['Spades', 5],
 ['Spades', 6],
 ['Spades', 7],
 ['Spades', 8],
 ['Spades', 9],
 ['Spades', 10],
 ['Spades', 11],
 ['Spades', 12],
 ['Spades', 13],
 ['Hearts', 1],
 ['Hearts', 2],
 ['Hearts', 3],
 ['Hearts', 4],
 ['Hearts', 5],
 ['Hearts', 6],
 ['Hearts', 7],
 ['Hearts', 8],
 ['Hearts', 9],
 ['Hearts', 10],
 ['Hearts', 11],
 ['Hearts', 12],
 ['Hearts', 13],
 ['Diamonds', 1],
 ['Diamonds', 2],
 ['Diamonds', 3],
 ['Diamonds', 4],
 ['Diamonds', 5],
 ['Diamonds', 6],
 ['Diamonds', 7],
 ['Diamonds', 8],
 ['Diamonds', 9],
 ['Diamonds', 10],
 ['Diamonds', 11],
 ['Diamonds', 12],
 ['Diamonds', 13],
 ['Clubs', 1],
 ['Clubs', 2],
 ['Clubs', 3],
 ['Clubs', 4],
 ['Clubs', 5],
 ['Clubs', 6],
 ['Clubs', 7],
 ['Clubs', 8],
 ['Clubs', 9],
 ['Clubs', 10],
 ['Clubs', 11],
 ['Clubs', 12],
 ['Clubs', 13]]

リスト内包表記で作成してみましょう

## Q1.5 リスト型のデータから必要なものを取り出そう
リスト型のデータから指定したものを取り出してみましょう
1. 2番目のデータ
1. 3番目までのデータ
1. 2番目から6番目までのデータ

In [0]:
q15 = [i for i in range(15)]

answer1

## Q1.5 指定した一枚を取ってみましょう
作成したデータから指定した一枚を取り出してみましょう。<br>
とりあえずdeckの上から10枚目のカードを取り出してみましょう。<br>

ここは割愛

In [0]:
import pandas as pd
df = pd.DataFrame(deck, columns=["suits", "number"])
df.to_csv("deck.csv", index=False)

In [0]:
!ls

deck.csv  Untitled.ipynb  work

***
# ブラックジャックをしよう
ブラックジャックをご存知でしょうか？<br>
トランプを使用したゲームの1つで、複数枚のカードの数字の合計が21になるように目指すゲームです。<br>
先程作成した、トランプを模した二次元データdeckを使用してやってみましょう。

## Q2.1 deckを確認しよう
先程作成したdeckを確認してください。<br>
なんやかんやしていると、どっか行くので作り直してください。<br>
<br>
あとで引数の確認が面倒なのでcolummsが\[suits, number\]になっている事を確認してください。

## Q2.2 randomライブラリを使用してみよう
初めてのPythonライブラリを使用してみましょう。<br>
今回はdeckの中からランダムにカードを引くために、randomライブラリを使用してみましょう。<br>
https://note.nkmk.me/python-random-choice-sample-choices/

['Hearts', 5]

## Q2.3 関数を使用してカードをランダムに一枚引く関数を作成しよう
deckからランダムにカードを一枚引く関数を作成してください。<Br>

In [0]:
draw()

[['Clubs', 5]]

## Q2.4 関数に引数を追加してドロー枚数を指定しよう
現状の関数では一枚づつしか引けません。<br>
ここで引数を使用してドローする枚数を指定してみましょう。<br>

In [0]:
draw(10)

[['Clubs', 4],
 ['Diamonds', 1],
 ['Diamonds', 5],
 ['Clubs', 2],
 ['Clubs', 12],
 ['Spades', 6],
 ['Diamonds', 11],
 ['Hearts', 5],
 ['Spades', 12],
 ['Diamonds', 3]]

In [0]:
draw()

[['Spades', 11]]

## Q2.5 if文を復習しよう
ここでif文を確認してください。<br>
今回は下記のように返してくれる関数checkを作成してください。
$$
x = 
  \begin{cases}
    10~(11\leq x\leq 13)\\
    x~(その他) \\
  \end{cases}
$$

通れ!

'通れ!'

## Q2.5 絵札の場合を考えよう
BJでは絵札を全て10として扱います。<br>
これをif文を使用して作成してみましょう。

1
2
3
4
5
6
7
8
9
10
10
10
10

## Q2.7 手札の合計を計算しよう(2~10だけの場合)
Pythonの基本的な関数であるsum()を指定してみましょう。<br>
関数の引数としてリスト型のデータを入れると合計値を出すことができます。

11

## Q2.8 手札の合計を計算しよう(絵札考慮版)

In [0]:
hand = draw(2)
hand

[['Spades', 2], ['Hearts', 2]]

In [0]:
hand[0][1]

2

In [0]:
hand_nubers = []

for i in hand:
    hand_nubers.append(i[1])
    
hand_checked10 = [check10(i) for i in hand_nubers]
sum(hand_checked10)

4

In [0]:
123+1231

1354