<a href="https://colab.research.google.com/github/KengoTobita/libarts/blob/master/jupyter_startup.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Jupyter入門

# Hello World

In [0]:
print("Hello World")

Hello World

# データ型と変数と四則演算
まずは簡単な計算をしましょう。<br>
下記の通り簡単な計算は、表計算ソフトと同様の演算子で計算が可能です。

In [0]:
a = 10
b = 5

print((a+b)/5)
print(a**2%3) # 10/3

3.0
1

文字列をデータとして扱う際は、文字列の前後にクォーテーションかダブルクォーテーションをつけてください。<br>
変数か文字型データか判別する必要があるためです。

In [0]:
name = "Aketi Mituhide"
print(name)

Aketi Mituhide

In [0]:
name = oda_nobunaga

NameError: name 'oda_nobunaga' is not defined

ブール型を使用することで論理式を扱うことができます。

In [0]:
10 < 1

False

データの連なりを扱いたい場合はリスト型を使用しましょう。

In [0]:
tencount = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
tencount

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [0]:
tencount[2]

3

辞書型というデータ型を使用して、データのペアを扱うことが可能です。

In [0]:
ioccode = {"Japan":"JPN", "America":"USA", "Russian":"RUS"}
ioccode["Japan"]

'JPN'

# よく使う組み込み関数

In [0]:
tencount = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
print(tencount)
print("The length of This list is...", len(tencount))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
The length of This list is... 10

# 繰り返し処理 (for, while)
for文とwhile文について紹介します。

In [0]:
for i in [1, 2, 3, 4]:
    print(i)

1
2
3
4

In [0]:
for i in range(10):
    print(i**2)

0
1
4
9
16
25
36
49
64
81

In [0]:
a = 0

while a <= 10 :
    print(a)
    a += 1

0
1
2
3
4
5
6
7
8
9
10

# 条件分岐

In [0]:
# ここで年齢を聞きます。コードの内容は気にしないでください。
age = int(input("あなたの年齢を教えてください。(半角英数で入力)"))

# ここからが条件分岐です。
if age < 20 :
    print("帰ってミルクでも飲んでな！")
elif age > 23 :
    print("ご相伴させてください。")
else:
    print("飲みに行きませんか？")

あなたの年齢を教えてください。(半角英数で入力)22
飲みに行きませんか？

# 関数

In [0]:
def fizzbuzz(start=1, end=16):
    
    for i in range(start, end):
        if i%15 == 0 :
            print("fizzbuzz")
        elif i%3 == 0 :
            print("fizz")
        elif i%5 ==0 :
            print("buzz")
        else :
            print(i)

In [0]:
fizzbuzz()

1
2
fizz
4
buzz
fizz
7
8
fizz
buzz
11
fizz
13
14
fizzbuzz

# クラスとライブラリ
今日は少し触る程度ですがクラスとライブラリについて紹介します。<br>
クラスを使用して、データと機能を組み合わせたものを作成できます……が、<br>
今日はそんなに覚えなくてもいいです。名前だけでも覚えて帰ってください。

In [0]:
class Print_age():
    
    def __init__(self, born, died):
        self.born = born
        self.died = died
        
    def print_age(self):
        print(self.died - self.born)
        
yukiti = Print_age(1835, 1901)
yukiti.print_age()

66

クラスについてはよく分からないままでしょう。<br>
ですが、頭のいい方々がクラスを利用して作成されたプログラムを<br>
僕達の手で動かくことができます。<br>
それがライブラリです。

In [0]:
import numpy 

def circle_area(radius):
    area = radius**2* numpy.pi
    print(area)
    
circle_area(20)

# 最後にムダ知識
jupyterをうまく使えば色々な事が可能になります。<br>
例えばPython以外の言語が使用できたり、<br>
markdownの中に$Tex$を埋め込んだり、<br>
コードのはじめに「！」を書き込むと簡単なlinuxコマンドが使用できたり、<br>
Ipythonライブラリを使用することで様々なことが可能です。<br>
<br>
興味が出たら使って見てください。